$primary:rgb(160, 132, 232);
$secondary:rgb(167, 130, 149);

.App {
  text-align: center;
  background-color: $primary;

  .branding{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    color: white;
    background-color: black;
  }
}

